[Desktop Entry]
Comment[en_US]=
Comment=
Exec=xrandr --output HDMI-1 --transform 1.05245,0,-50,0,1.024,0,0,0,1
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=xrandr
Name=xrandr
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
